[Unit]
Description=Shadowsocks
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/ssserver -c /etc/shadowsocks/config.json -d start
ExecStop=/usr/bin/ssserver -d stop

[Install]
WantedBy=multi-user.target